@namespace WebApplicationDiagramBuilder

<div class=@SideBarClassName>
    <DiagramSymbolpalette @ref="@DiagramSymbolpalette"></DiagramSymbolpalette>
    <DiagramMoreShapes @ref="DiagramMoreShapes"></DiagramMoreShapes>
</div>

@code {
    public DiagramMain Parent;
    public string SideBarClassName = "sidebar";
    public DiagramSymbolpalette DiagramSymbolpalette;
    public DiagramMoreShapes DiagramMoreShapes;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await base.OnAfterRenderAsync(firstRender);
        if (firstRender)
        {
            if (this.DiagramSymbolpalette != null)
                this.DiagramSymbolpalette.Parent = this;
            if (this.DiagramMoreShapes != null)
                this.DiagramMoreShapes.Parent = this;
        }
    }

    public void StateChanged()
    {
        StateHasChanged();
    }
}
