@page "/"
@using DiagramBuilder.Shared
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <script src="_content/Syncfusion.Blazor/scripts/syncfusion-blazor.min.js"></script>
    <script src="_content/BlazorServerCommon_NET8/interop.js" async></script>
    <!-- Google Tag Manager -->
    <script>
        (function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start':
                    new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                    'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-WLQL39J');</script>
    <!-- End Google Tag Manager -->

    <title>Create flowchart, mind map with syncfusion diagram builder</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="The diagram builder application is developed using the Blazor platform to create interactive diagram such as flowchart, mind map, and organizational chart.">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <link href="_content/Syncfusion.Blazor/styles/material.css" rel="stylesheet" />
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
    <link href="assets/db-icons1/style.css" rel="stylesheet" />
    <link href="assets/dbstyle/diagrambuilder.css" rel="stylesheet" />
    <HeadOutlet @rendermode="@InteractiveServer" />
</head>

<body>
    <Routes @rendermode="@InteractiveServer" />
    <div id="blazor-error-ui">
        <environment include="Staging,Production">
            An error has occurred. This application may no longer respond until reloaded.
        </environment>
        <environment include="Development">

        </environment>
    </div>
    <script src="_framework/blazor.web.js"></script>
</body>

</html>
