@page "/"
@inject NavigationManager Urihelper
@using DiagramBuilder.Shared
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link href=@Urihelper.Uri rel="canonical" />
    <!-- Google Tag Manager -->
    <!-- Load GTM-P3WXFWCW immediately on page load  -->
    <script>
        (function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start':
                    new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                    'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-P3WXFWCW');
    </script>
    <!-- Load GTM-W8WD8WN on user interaction -->
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const events = ["mousemove", "scroll", "keydown", "touchstart"];
            function loadGTM() {
                events.forEach(event => document.removeEventListener(event, loadGTM));
                (function (w, d, s, l, i) {
                    w[l] = w[l] || []; w[l].push({
                        'gtm.start':
                            new Date().getTime(), event: 'gtm.js'
                    }); var f = d.getElementsByTagName(s)[0],
                        j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                            'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
                })(window, document, 'script', 'dataLayer', 'GTM-W8WD8WN');
            }
            events.forEach(event => document.addEventListener(event, loadGTM, { once: true }));
        });
    </script>

    <title>Create flowchart, mind map with syncfusion diagram builder</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta name="description" content="An interactive diagram builder built with Blazor, enabling users to create and customize diagrams such as flowcharts, mind maps, and organizational charts with ease.">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <link href="_content/Syncfusion.Blazor/styles/material.css" rel="stylesheet" />
    <link href="assets/db-icons1/style.css" rel="stylesheet" />
    <link href="assets/dbstyle/diagrambuilder.css" rel="stylesheet" />
    <script src="_content/BlazorServerCommon_NET8/interop.js" async></script>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
    <script src="_content/Syncfusion.Blazor/scripts/syncfusion-blazor.min.js"></script>
    <HeadOutlet @rendermode="@InteractiveServer" />
</head>

<body>
    <Routes @rendermode="@InteractiveServer" />
    <!-- Google Tag Manager (noscript) -->
    <!--Page Load-->
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-P3WXFWCW" height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!--Interaction-->
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-W8WD8WN" height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->
    <div id="blazor-error-ui">
        <environment include="Staging,Production">
            An error has occurred. This application may no longer respond until reloaded.
        </environment>
        <environment include="Development">

        </environment>
    </div>
    <script src="_framework/blazor.web.js"></script>
</body>

</html>
