@page "/"
@namespace DiagramBuilder.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>DiagramBuilder</title>
	<base href="~/" />
	<script src="~/syncfusion-blazor.min.js"></script>
    <script src="~/interop.js"></script>
    <!-- Google Tag Manager -->
    <script>
        (function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start':
                    new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                    'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-WLQL39J');</script>
    <!-- End Google Tag Manager -->
    <meta charset="UTF-8" />
    <title>Create flowchart, mind map, org chart with syncfusion diagram builder</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="The diagram builder application has been built using angular platform to create diagrams like flowcharts, mind map, and organizational chart.">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <link href="_content/Syncfusion.Blazor/styles/material.css" rel="stylesheet" />
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
    <link href="assets/db-icons1/style.css" rel="stylesheet" />
    <link href="assets/dbstyle/diagrambuilder.css" rel="stylesheet" />
</head>

<body>
    <component type="typeof(App)" render-mode="ServerPrerendered" />

    <div id="blazor-error-ui">
        <environment include="Staging,Production">
            An error has occurred. This application may no longer respond until reloaded.
        </environment>
        <environment include="Development">
            
        </environment>
    </div>

    <script src="_framework/blazor.server.js"></script>
</body>
</html>
