@inject NavigationManager NavigationManager
@inject HttpClient Http

<select @onchange="OnSelected">
    <option hidden>@culture</option>
    <option value="en-US">English (en-US)</option>
    <option value="de">German (de)</option>
    <option value="fr">French (fr)</option>
    <option value="ar">Arabic (ar)</option>
    <option value="zh">Chinese (zh)</option>
</select>

@code {
    private string culture { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        this.culture = System.Globalization.CultureInfo.CurrentCulture.Name;
    }

    private void OnSelected(ChangeEventArgs e)
    {
        var culture = (string)e.Value;
        var uri = new Uri(NavigationManager.Uri)
            .GetComponents(UriComponents.PathAndQuery, UriFormat.Unescaped);
        var query = $"?culture={Uri.EscapeDataString(culture)}&" +
            $"redirectUri={Uri.EscapeDataString(uri)}";

        NavigationManager.NavigateTo("/Culture/SetCulture" + query, forceLoad: true);
    }
}